@import "tailwindcss";

@theme {
    --font-primary: var(--font-roboto);
    --font-secondary: var(--font-montserrat);

    --color-primary: #FAFAFA;
    --color-secondary: #221300;
    --color-tertiary: #523E00;
    --color-quaternary: #FDE047;
    --color-accent: var(--color-quaternary);
    --color-text: var(--color-secondary);
    --color-background: var(--color-primary);
    --color-surface: var(--color-primary);
    --color-border: var(--color-quaternary-200);
    
    --color-tertiary-800: #755800;

    --color-quaternary-50: #FFFBE6;
    --color-quaternary-100: #FEF3B8;
    --color-quaternary-200: #FEEB8B;
    --color-quaternary-400: #FDDB30;
    --color-quaternary-500: #FCD303;
    --color-quaternary-600: #CFAD02;
    --color-quaternary-700: #A28702;
    --color-quaternary-800: #746101;
    --color-quaternary-900: #473B01;
    --color-quaternary-950: #191500;

    --color-secondary-50: #E9E6E5;
    --color-secondary-100: #D3CECB;
    --color-secondary-200: #BDB7B2;
    --color-secondary-300: #A8A09A;
    --color-secondary-400: #938982;
    --color-secondary-500: #7F746B;
    --color-secondary-600: #6B5E55;
    --color-secondary-700: #574A40;
    --color-secondary-800: #45372C;
    --color-secondary-900: #322419;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 5rem;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    max-width: 100%;
    background-color: var(--color-primary);
}

.hero-title, 
.hero-sub {
    opacity: 0;
}
