---
interface Props {
    label: string;
}
const { label } = Astro.props
---
<div class="max-w-fit inline-flex items-center gap-2 rounded-full border border-quaternary-200 bg-quaternary px-4 py-1.5 text-sm text-secondary-900 mb-6 font-secondary">
    <span class="h-1.5 w-1.5 rounded-full bg-secondary"></span>
    {label}
</div>